body {
  font-family: Helvetica, sans-serif;
}

pre, code {
  background-color: lightgrey;
  border: solid grey 1px;
}

h1, h2, h3, h4, h5, h6 {
  clear: left;
  font-family: Georgia, Garamond, Helvetica, sans-serif;
}

h2 {
  text-decoration: underline;
}

p {
   margin-left: 1em;
}

/* classes */
.box {
  float: left;
  width: 45%;
  margin-right: 1em;
}

.box h3 {
  margin: 0px;
  border-bottom: solid black 2px;
}

.header {
  font-size: small;
}

.footer {
  clear: left;
  font-size: x-small;
  text-align: right;
}
