body {
  font-family: Helvetica, sans-serif;
}

pre, code {
  background-color: lightgrey;
  border: solid grey 1px;
}

h1, h2, h3, h4, h5, h6 {
  clear: left;
  font-family: Georgia, Garamond, Helvetica, sans-serif;
}

h2 {
  text-decoration: underline;
}

p {
   margin-left: 1em;
   margin-right: 1em;
}

/* classes */
.box {
  float: left;
  width: 49%;
  margin-right: 5px;
}

.box h2,h3 {
  margin-top: 0px;
}

.header {
  font-size: small;
}

.footer {
  clear: left;
  font-size: x-small;
  text-align: right;
}

hr { clear: both; }

.menu {
  text-align: left;
  float: left;
}

.ad {
  text-align: right;
  float: right;
}
